@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #F9F7F7;
}

.navbar {
    background-color: #155263;
    height: 80px; /* Mantiene el tamaño fijo del header */
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 150px;
    width: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain;
}
.navbar .btn-outline-light {
  border-color: white;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza el efecto */
}

.navbar .btn-outline-light:hover {
  background-color: #FF6F3C; /* Color cuando se pasa el cursor */
  border-color: #FF6F3C;
  color: white; /* Mantenemos el texto en blanco */
}

#carouselExperiencias {
  max-height: 500px; /* Ajusta la altura del carrusel */
  overflow: hidden; /* Evita que sobresalgan elementos */
}

#carouselExperiencias img {
  object-fit: cover; /* Hace que la imagen cubra el espacio sin deformarse */
  height: 500px; /* Ajusta la altura de las imágenes */
}


.swiper img {
    width: 100%;
    border-radius: 10px;
}

/* Cards */
.experience-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
  transition: transform 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
}

.experience-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
}

.card-price {
  color: #ffd700;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.btn-ver-mas {
  width: 100%;
  background: transparent;
  color: #FF6F3C;
  border: none;
  padding: 10px;
  margin-top: auto;
  transition: all 0.3s ease;
}

.experience-card:hover .btn-ver-mas {
  background: #FF6F3C;
  color: white;
}
/* Testimonios */
.testimonios {
    background-color: #FFC93C;
    padding: 40px;
}

/* Call to Action */
.cta {
    background-color: #155263;
    color: white;
    padding: 40px;
    text-align: center;
}

.cta .btn {
    background-color: #FF6F3C;
    color: white;
}

/* Footer */
.footer {
    background-color: #155263;
    color: white;
    padding: 20px;
}
